*{
    margin: 0;
    padding: 0;
    background-color: #F3F4F6;
}
img{
    width: 20px;
    height: 20px;
}
#sideBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
#sideBar->div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a div{
    text-decoration: none;
}
a span{
    text-decoration: none;
}
span{
    color: #3B82F6;
    font-size: 24px;
}
#out{
    cursor: pointer;
}
#logout{
    color: red;
}
#contacts{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding-top: 10px;
}
#contactsList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}
h1{
    font-size: 24px;
}
p{
    font-size: 20px;
    font-weight: 400;
}